@import 'reset', 'color', 'variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
    background-color: $white;
}

/* --------HERO--------*/

.hero {
    position: relative;
    margin-top: 3em;
}

.hero__titulo {
    color: $secondary;
    font-size: 6em;
    line-height: 1em;
    font-family: 'Bagnard Sans';
    margin-bottom: 50px;
}

.hero__botonesSimples {
    padding: 13px 35px;
    border: 2px solid $secondary;
    display: inline-block;
    width: 255px;
    margin: 0 20px 20px 0;
    transition: 0.2s;
    color: $secondary;
    background-color: $white;

    &:hover {
        color: #f5f3f4;
        border: 2px solid $primary;
        background-color: $primary;
        transform: translate(0, -5px);
    }
}

.hero__botonesSimples_links {
    color: $secondary;
    font-family: 'LineToCircular-Book';
    font-style: normal;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

.identityleafs__imagen {
    position: absolute;
    z-index: -1;
    right: 0;
    top: -300px;
    width: 110vh;
}


/*--------ARTICULOS--------*/

.articulos__titulo {
    grid-area: titulo-seccion;
}

.articulos__subtitulo {
    grid-area: titulo-nota;
}

.articulos__texto {
    grid-area: texto;
}

.articulos__foto {
    grid-area: foto;
}

.articulos__flecha {
    margin-left: 2.5em;
    text-decoration: none;
    color: $primary;
    font-size: 5em;
    align-items: center;
    transition: all 0.5s;
}

.articulos__flecha {
    &:hover {
        color: $secondary;
    }
}

.articulos__izquierda {
    display: grid;
    grid-template-columns: 490px 310px;
    grid-template-areas: 
    "titulo-seccion ."
    "titulo-nota    ."
    "texto          foto"
    "texto          foto"
    "texto          foto"
    "texto          foto";
    grid-gap: 30px 90px;
}

ul.space_list li { 
    margin-top: 1em;
    margin-bottom: 4.7em;
 }

#metodo{
    margin-top: 5em;
}

.btn {
    margin-top: 4em;
    margin-bottom: 4em;
}

.titulo__variante h3{
    color: $secondary;
    font-family: 'Bagnard Sans';
    padding-bottom: 1.5em;
}


/* -------- FREE SAMPLE --------*/

.freeSample__imagen{
    position: absolute;
    z-index: -1;
    right: 0;
    top: -120px;
    width: 120vh;
}

/* -------- CARDS --------*/

.card-deck{
    padding: 1em;
    margin-bottom: 200px;
    margin-top: 100px;
    text-align: center;
}

.card{
transition: all 0.5s;

    &:hover {
        transform: scale(1.08, 1.08);
    }
}

.maps {
	filter: grayscale(1);
	padding: 1em;
}
iframe {
	width: 100%;
}

.contacto {
    margin-top: 3em;
    padding: 3em;
}

/* --------FREE SAMPLE--------*/

.hero__freeSample{
    margin-top: 3em;
}

.form__freeSample{
    margin-top: 6em;
    padding: 1em;
}

.btn-primary{
    background-color: $secondary;
    border: none;
}


/* --------FOOTER--------*/

footer {
    position: relative;
    color: $secondary;
    text-align: center;
    line-height: 2.5em;

    a {
        text-decoration: none;
        color: #505F6F;
        font-size: 1em;

        &:hover {
            color: $primary;
            text-decoration: none;
        }
    }
}

/* ----------------MEDIAs----------------*/


/* --------IPHONE--------*/

@media only screen 
and (min-device-width : 375px) and (max-device-width : 667px) {

    .hero__titulo {
        font-size: 5em;
        line-height: 1.1em;
    }

    .identityleafs__imagen {
        display: none;
    }

    .freeSample__imagen {
       display: none;
    }

    .articulos__izquierda {
        display: grid;
        grid-template-columns: 260px;
    }

    .articulos__texto {
        font-size: 1.1em;
    }

    .articulos__flecha {
        margin-left: 1.4em;
    }

    ul.space_list li { 
        margin-top: 1rem;
        margin-bottom: 1em;
     }

     .imagen__contacto{
         display: none;
     }

     .footer__imagen {
        display: none;
    }
}

/* --------IPAD--------*/

@media only screen 
and (min-device-width : 736px) 
and (max-device-width : 1024px) {

    .hero{
        margin-top: 6em;
    }

    .hero__titulo {
        font-size: 5em;
        line-height: 1.1em;
    }

    .identityleafs__imagen {
        display: none;
    }

    .freeSample__imagen {
       display: none;
    }

    .articulos__izquierda {
        display: grid;
        grid-template-columns: 30em;
    }

    .articulos__texto {
        font-size: 1.1em;
    }

    .articulos__flecha {
        margin-left: 2.6em;
        padding-bottom: 3em;
    }

    #metodo{
        margin-top: 16em;
    }

    ul.space_list li { 
        margin-top: 1em;
        margin-bottom: 4.4rem;
     }

     .footer__imagen {
         width: 60vh;;
     }
}
